.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    z-index: 3;
    float: left;
    margin-left: 15px;
    padding: 6px 11px;
    color: #777;
}

nav.navbar.navbar-default {
    box-shadow: 0 5px 12px -2px gray;
    border-radius: 0px;
    background-color: #ffffff;
    border: none;
}

.navbar-right {
    margin-right: 0px;
}

#logoimage {
    max-height: 40px;
    margin-top: -10px;
}

.navbar-brand > img {
    display: initial;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 42px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42px;
    padding: 10px;
    color: #777;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 9px 9px 12px gray;
}

hr {
    border-bottom: #9A22C9 1px solid;
    max-width: 1120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#exCollapsingNavbar {
    max-width: 1150px;
    padding: 0px;
}

.fa-spinner {
    color: #9A22C9;
}

.page-section {
    max-width: 1120px;
    box-shadow: 0 5px 12px 3px gray;
    background-color: #FFFFFF;
    padding: 5px;
}

body {
    background-color: #bdb7bf;
}


h1, h2, h3, p, a {
    color: #777;
}