#NoProblemIcon {
    color:green;
}

#SomeProblemIcon {
    color:orange;
}

#ServerErrorIcon,
#MuchProblemIcon {
    color:red;
}

#googlemap{   
    height: 400px;
    width: 100%;
    max-width: 1100px;
}



#locationstatusdiv {
    height: 150px;
    display: table;
}

#locationstatusdiv > div {
    vertical-align: middle;
    display: table-cell;
}

.inactive-smiley {
    color: lightgray;
}
