@{ViewBag.Title = "Location Status";}

<center>
    <div class="page-section">
        <h1 id="areaTitle">Laddar position...</h1>
        <div id="locationstatus">
            <div>
                <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
                <div id="loading-text">
                    <br />
                    <p>Samlar information för din postion...</p>
                </div>
            </div>
        </div>

        <hr />
        <div id="googlemap"></div>


        <hr />

        <div id="disturbancecarousel">
        </div>
    </div>

</center>
@section scripts{
    <script src="~/Scripts/GeoLocation.js"></script>
    <link href="~/Css/LocationStatus.css" rel="stylesheet" />
    <script src="~/Scripts/GoogleMapsScript.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXmJt29CHq_HW7L-5372zJ5vSYIgIBTW0&callback=initMap"></script>
}