@{ViewBag.Title = "Location Status";}

<center>
    <h1 id="locationTitle"></h1>
    <div id="locationstatusdiv">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw" style="color:green"></i><br />
        <span>Laddar data för din postion...</span>
    </div>

    <div>
        <div id="googlemap"></div><br />
        <p>Klicka på hållplats för mer information</p>  
    </div>
</center>
@section scripts{
    <script src="~/Scripts/GeoLocation.js"></script>
    <link href="~/Css/LocationStatus.css" rel="stylesheet" />
    <script src="~/Scripts/GoogleMapsScript.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXmJt29CHq_HW7L-5372zJ5vSYIgIBTW0&callback=initMap"></script>
}

