@model LocationStatusVM

<div>
    <h1>
        Trafikläget i @Model.Header
    </h1>
</div>
<div>
    @switch (Model.WarningLevel)
    {
        case 1:
            <h3><i class="fa fa-smile-o fa-5x" id="NoProblemIcon" aria-hidden="true"></i></h3><br />
            <p>Inga problem</p>
            break;
        case 2:
            <h3><i class="fa fa-meh-o fa-5x" id="SomeProblemIcon" aria-hidden="true"></i></h3><br />
            <p>Några problem</p>
            break;
        case 3:
            <h3><i class="fa fa-frown-o fa-5x" id="MuchProblemIcon" aria-hidden="true"></i></h3><br />
            <p>Massor med problem</p>
            break;

    }
    <br />
    <div>
<p>@Model.WarningMessage</p>
    </div>

</div>