@model LocationStatusVM

<div>
    @switch (Model.WarningLevel)
    {
        case -1:
            <i class="fa fa-exclamation-triangle fa-5x" id="ServerErrorIcon" aria-hidden="true"></i>
            break;
        case 1:
            <i class="fa fa-smile-o fa-5x" id="NoProblemIcon" aria-hidden="true"></i><i class="fa fa-meh-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-frown-o fa-5x inactive-smiley" aria-hidden="true"></i>
            break;
        case 2:
            <i class="fa fa-smile-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-meh-o fa-5x" id="SomeProblemIcon" aria-hidden="true"></i><i class="fa fa-frown-o fa-5x inactive-smiley" aria-hidden="true"></i>
            break;
        case 3:
            <i class="fa fa-smile-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-meh-o fa-5x inactive-smiley" aria-hidden="true"></i><i class="fa fa-frown-o fa-5x" id="MuchProblemIcon" aria-hidden="true"></i>
            break;
    }    
    <div>
        <p>@Model.WarningMessage</p>
    </div>
</div>

@foreach (var station in Model.Stations)
{
    <script>
        var markerpos = { lat: @station.Latitude, lng: @station.Longitude }

        var imageUrl;
        @if (station.StatusLevel == 0)
        {
            <text>imageUrl = "http://localhost:22416/images/stationok.png";</text>
        }
        else
        {
            <text>imageUrl = "http://localhost:22416/images/stationwarning.png";</text>
        }

        var image = {
            url: imageUrl,
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(16, 32)
        };


        var marker = new google.maps.Marker({
            position: markerpos,
            map: map,
            //fixa encoding åäöüæ
            title: "@station.Name",  
            animation: google.maps.Animation.DROP,
            icon: image
            });
    </script>
}